body {
    margin: 0;
}

#map {
    position: relative;
}

.tile {
    height: 36px;
    width: 36px;
    display: inline-block;
}

.tilerow {
    height: 36px;
}

#player {
    background: purple;
    height: 20px;
    width: 20px;
    position: absolute;
}

.enemy {
    height: 20px;
    width: 20px;
    position: absolute;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.blue {
    background: lightblue;
}