body {
    margin: 0;
}

* {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#map {
    position: relative;
}

.tile {
    height: 36px;
    width: 36px;
    display: inline-block;
}

.tilerow {
    height: 36px;
    display: block;
}

#player {
    background: purple;
    height: 20px;
    width: 20px;
    position: absolute;
}

.enemy {
    height: 20px;
    width: 20px;
    position: absolute;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.blue {
    background: lightblue;
}

.weapon-box {
    width: 11px;
    height: 11px;
    position: relative;
    top:  4px;
    left: 4px;
}

.spear {
    height: 44px;
    width: 7px;
    position: absolute;
    left: 2px;
    bottom: -14px;
    transition: bottom 350ms ease;
    display: none;
}

.hit {
    opacity: 0.5;
}